<div class="orderBox verticalScroll" ng-repeat="order in erbodysOrders">
    <h1>Order for: {{order.description}}</h1>
    <h2>Requested By: {{order.buyerName}}</h2>
    <h3>Size: {{order.size}}</h3>
    <div class="d-flex justify-content-between pin_head">
        <img src="../../images/pin.jpg" height="20px" width="auto">
        <h2>Inspiration Board</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center inspBoard">
        <div class="pin" ng-repeat="pin in order.pins">
            <a href="{{pin.address}}" target="_blank">
                <img height="100" width="100" class="pin_img" src="{{pin.image}}">
            </a>
        </div>
    </div>
    <button id='{{order.firebaseId}}' ng-click="requestOrder()">I'll take it!</button>
</div>