<div ng-controller="userHomeCtrl">
    <h1>Welcome!</h1>
    <h2>Let's Get You Started:</h2>

    <input type="text" ng-model="user.firstName" placeholder="First Name">
    <input type="text" ng-model="user.lastName" placeholder="Last Name">
    <input type="text" ng-model="user.streetNumber" placeholder="Street Number">
    <input type="text" ng-model="user.streetName" placeholder="Street Name">
    <input type="text" ng-model="user.city" placeholder="City">
    <input type="text" ng-model="user.state" placeholder="State">
    <input type="text" ng-model="user.zip" placeholder="Zip Code">
    <input type="text" ng-model="user.pinterest" placeholder="Your Pinterest Username">
    <input type="text" ng-model="user.venmo" placeholder="First Venmo User Name">
    <button ng-click="setUpUser()">Submit</button>
</div>