<h1>User Home Page</h1>
<div ng-if="loaded === 'yep' && wants === ''" ng-model="userInfo">
    <h1 >Welcome, {{userInfo.firstName}} {{userInfo.lastName}}!</h1>
    <button ng-click="getMyOrders()">I Want To See My Orders</button>
    <button ng-click="userWants('makeOrder')">I Want To Make An Order</button>
    <button ng-click="userWants('takeOrder')">I Want To Take An Order</button>
</div>

<section ng-if="wants === 'reqs'" ng-include="'app/userHome/partials/openReqs.html'"></section>
<section ng-if="wants === 'makeOrder'" ng-include="'app/userHome/partials/newOrder.html'"></section>
<section ng-if="wants === 'takeOrder'" ng-include="'app/userHome/partials/takeOrders.html'"></section>