<h1 ng-if="packingView === false">Orders I'm Working On</h1>

<div ng-repeat="order in ordersBeingWorked" pe-inject-pin-script>
    <div ng-if="packingView === false">
        <h1 ng-if="order.approved !== undefined">:) ORDER APPROVED :)</h1>
        <h1>Order for: {{order.description}}</h1>
        <h3>Size: {{order.size}}</h3>
        <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/{{order.pinterest}}/{{order.board}}/"></a>
        <h3 ng-if="order.image !== undefined">Proposed Sketch</h3>
        <img ng-if="order.image !== undefined" src="{{order.image}}" width="400" height="auto">
        <h3 ng-if="order.price !== undefined">Current Proposed Price: {{order.price}}</h3>
        <h3 ng-if="order.comments !== undefined">Comments:</h3>
        <div ng-if="order.comments !== undefined" ng-repeat="comment in order.comments">
            <p>{{comment.id}}: {{comment.value}}</p>
        </div>
        <div ng-if="order.approved === undefined">
            <h3>Propose Price:</h3>
            <input type="text" placeholder="$$$" ng-model="updatedOrder.price">
        </div>
        <textarea rows="4" cols="50" placeholder="Add Comments" ng-model="updatedOrder.comment.value"></textarea>
        <button id='{{order.firebaseId}}' ng-click="updateOrder()">Submit</button>
        <button ng-if="order.approved === undefined" type="file" id='{{order.firebaseId}}' ng-click="selectOrder()" ngf-select="uploadSketch($file)">Add your sketch</button>
        <button ng-if="order.approved !== undefined && order.completed !== true" id='{{order.firebaseId}}' ng-click="approveOrder('completed')">Done! Pay me :)</button>
        <button ng-if="order.completed === true && packingView === false" ng-click="togglePacking(true)">Packing Slip</button>
    </div>

    <div ng-if="packingView === true">
        <h1>Packing Slip:</h1>
        <p>Please print this slip and include it in the package sent to our distro center.</p>
        <div class="label_packing">
        <h2>Fairly Well Made: Shipping Dept.</h2>
        <h2>Order #: {{order.firebaseId}}</h2>
        </div>
        <button ng-click="togglePacking(false)">Back to Orders</button>
    </div>
</div>
<button ng-click="clearPin()">Back to My Home Page</button>