<div class="homePages" ng-controller="login-registerCtrl">
    <div class="orderBox" id="setupBox">
        <h2 class="regHead">Let's Get You Started!</h2>

        <input type="text" ng-model="newbie.firstName" placeholder="First Name" required>
        <input type="text" ng-model="newbie.lastName" placeholder="Last Name" required>
        <input type="text" ng-model="newbie.streetNumber" placeholder="Street Number" required>
        <input type="text" ng-model="newbie.streetName" placeholder="Street Name" required>
        <input type="text" ng-model="newbie.city" placeholder="City" required>
        <input type="text" ng-model="newbie.state" placeholder="State" required>
        <input type="text" ng-model="newbie.zip" placeholder="Zip Code" required>
        <input type="text" ng-model="newbie.pinterest" placeholder="Your Pinterest Username" required>
        <input type="text" ng-model="newbie.venmo" placeholder="Venmo User Name" required>
        <button class="regNext" ng-click="setUpUser()">Submit</button>
    </div>
</div>


